<% content_for :title do %>
 Sign Up | RelyApply
<% end %>

<div class="container" id=loginContainer>
  <div class="d-flex justify-content-center h-100" >
    <div class="card">
        <div class="card-header">
          <h3>Sign Up</h3>
          <%#Omniauth Logins %>
          <div class="d-flex justify-content-end social_icon">
            <%# Facebook %>
            <%= link_to user_facebook_omniauth_authorize_path do %>
              <span><i class="fab fa-facebook-square"></i></span>
            <% end %>
            <%# Google %>
            <%= link_to  user_google_oauth2_omniauth_authorize_path do %>
              <span><i class="fab fa-google-plus-square"></i></span>
            <% end %>
          </div>
          <em style="color:white">
          <%= devise_error_messages! %>
          </em>
        </div>
        <div class="card-body">
          <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
            <%# Email Input %>
            <div class="input-group form-group">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fas fa-envelope"></i></span>
                </div>
              <%= f.email_field :email, autofocus: true, class: "form-control", required: true, placeholder: "Email"  %>
            </div>
            <% if @minimum_password_length %>
                <em style="color:white;">Please create a password (<%= @minimum_password_length %> characters minimum)</em>
              <% end %><br />
            <%# PW Input %>
            <div class="input-group form-group">
                <div class="input-group-prepend">
                   
                  <span class="input-group-text"><i class="fas fa-key"></i></span>
                </div>
             

              <%= f.password_field :password, class: "form-control", required: true, placeholder: "Password" %>
            </div>
            <%# Remember Me Checkbox %>
                <em style="color:white;">Please re-enter password to confirm</em>
              <br />
           <div class="input-group form-group">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fas fa-check"></i></span>
                </div>

               <%= f.password_field :password_confirmation, class: "form-control", required: true,placeholder: "Confirm Password" %>
            </div>
            <%# Submit Button %>
            <div class="form-group" id=loginBttn>
              <%= f.submit "Sign Up",class: "btn login_btn"%>
            </div>
          <% end %>
        </div>
        <div class="card-footer">
          <%# Sign Up Link %>
          <div class="d-flex justify-content-center links">
              Already have an account?
              <%- if controller_name != 'sessions' %>
                <%= link_to "Log in", new_session_path(resource_name) %><br />
              <% end -%>

          </div>
          <%#Forgot PW Link%>
          <div class="d-flex justify-content-center">
            <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
            <%= link_to "Forgot your password?", new_password_path(resource_name) %><br />
            <% end -%>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>




