<% content_for :title do %>
 Sign Up | RelyApply
<% end %>
<br />
<div class="panel panel-default" id="signupPanelAll">
  <div class="panel-heading" id="signUpHeader"><h2><strong>Sign Up</strong></h2></div>
      <div class="panel-body">
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= devise_error_messages! %>
        <div class="form-group-lg" id="formGroupFont">
              <p><%= f.label :email %></p>
              <%= f.email_field :email, autofocus: true, class: "form-control", required: true %>
            </div>

          <br />
        
        <div class="form-group-lg" id="formGroupFont">
              <p><%= f.label :password %>
              <% if @minimum_password_length %>
                <em>(<%= @minimum_password_length %> characters minimum)</em>
              <% end %><br /></p>

              <%= f.password_field :password, class: "form-control", required: true %>
            </div>

        <br />
        
        <div class="form-group-lg" id="formGroupFont">
              <p><%= f.label :password_confirmation %></p>
              <%= f.password_field :password_confirmation, class: "form-control", required: true %>
            </div>

        <br />
        
        <div class="form-group-lg" >
              <%= f.submit "Sign Up", class: "btn btn-lg btn-primary" %>
            </div>
        <% end %>
  </div>
</div>

<div id="formGroupFont">
<p>Already have an account?<%= render "devise/shared/links" %></p>
</div>