<% content_for :title do %>
  My Profile | RelyApply
<% end %>

<% if user_signed_in? %>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-6">
      <h4 style="color:white;"><%= @users.email %></h4>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">  
      <%= link_to 'Account Settings', edit_user_registration_path, :class => "btn btn-primary" %>
    </div>
  </div> 
</div>

<div class="container emp-profile">
  <form method="post">
      <h3> My Reviews</h3>
      <div class="row">
        <div class="col-md-12">
          <!--Navbar header: Applying and Interview-->
           <ul class="nav nav-tabs" id="navbarCompanyShow" role="tablist">
              <li class="nav-item">
                  <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Post-Applying</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Post-Interview</a>
              </li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
              <!-- Tab Content -->
          <div class="tab-content profile-tab" id="myTabContent">
            <!--Post application User Reviews -->
            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
              <div>
              <br />
              <% @users.reviews.includes(:company).each do |review| %>
                 <!-- links to edit or destory review -->

                <div colspan="1" align="right">
                  <% if review.user == current_user %>
                    <%= link_to 'Edit', edit_review_path(review), class: "btn btn-sm btn-default"%>
                    <%= link_to 'Delete', review, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-sm btn-default" %>
                  <% end %>
                </div>

                  <div class="card border-secondary mb-3" id="reviewsIndexCard">

                    <div class="card-header" id="reviewsIndexCardHeader" >
                      <h3>Company: <%= review.company.name %>      
                    </div>
                    <div class="card-body" id="userReviewCardBody">
                      <p style="color:grey !important" ><I>Review Submitted: <%= review.created_at.strftime("%B %d, %Y") %></I></p>
                      <h4><strong><u>Application Details</u></strong></h4>

                      <div class="row"><!--first row of card-->
                        <div class="col-md-6">
                          <p>Estimated Response Time: <%= review.response_time %></p>
                        </div>
                        <div class="col-md-6">
                          <p><strong>Position:</strong> <%= review.position %></p>
                        </div>
                      </div>

                      <div class="row"> <!--second row of card-->
                        <div class="col-md-6">
                          <p><strong>Employment Type:</strong> <%= review.employment_type %></p>
                        </div>
                        <div class="col-md-6">
                          <p><strong>Response Time Satisfaction:</strong> <%= review.satisfaction %></p>
                        </div>
                      </div>
                      <div class="row"> <!--second row of card-->
                        <div class="col-md-6">
                          <p><strong>Application Type:</strong> <%= review.application_type%></p>
                        </div>
                        <div class="col-md-6">
                          <p><strong>Location:</strong> <%= review.address.chomp(', USA') %></p>
                        </div>
                      </div>
                      <div style="text-align: center"> <!--links to likes and dislikes -->
                          <i class="fas fa-thumbs-up" style="color:green"></i>
                          Accurate
                          (<%= review.get_upvotes.size %>)
                      
                        |

                          <i class="fas fa-thumbs-down" style="color:red"></i>
                          Inaccurate
                          (<%= review.get_downvotes.size %>)
                
                      </div><!--close div for to likes and dislikes -->
                    </div><!--div close card body-->
                  </div> <!--div class="card border-secondary mb-3" id="reviewsIndexCard"-->
                    <br />       
                  <% end %>
              </div> <!--div for users each do -->
            </div> <!--div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab"-->
                    <!-- Post Interview User Reviews --> 
            <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
              <% @users.offers.includes(:company).each do |offer| %>
                 <!-- links to edit or destory review -->
                <div colspan="1" align="right">
                  <% if offer.user == current_user %>
                    <%= link_to 'Edit', edit_offer_path(offer), class: "btn btn-sm btn-default"%>
                    <%= link_to 'Delete', offer, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-sm btn-default" %>
                  <% end %>
                </div>

                  <div class="card border-secondary mb-3" id="reviewsIndexCard">
                    <div class="card-header" id="reviewsIndexCardHeader">
                      <h3>Company: <%= offer.company.name %></h3>
                    </div>
                    <div class="card-body" id="userReviewCardBody">
                      <p style="color:grey !important" ><I>Review Submitted: <%= offer.created_at.strftime("%B %d, %Y") %></I></p>
                      <h4><strong><u>Application Details</u></strong></h4>

                      <div class="row"><!--first row of card-->
                        <div class="col-md-6">
                          <p>Estimated Post-Interview Response Time: <%= offer.response_time %></p>
                        </div>
                        <div class="col-md-6">
                          <p><strong>Response Time Satisfaction: </strong> <%= offer.satisfaction %></p>
                        </div>
                      </div>

                      <div class="row"> <!--second row of card-->
                        <div class="col-md-6">
                           <p><strong>Position: </strong> <%= offer.position %></p>
                        </div>
                        <div class="col-md-6">
                           <p><strong>Employment Type: </strong><%= offer.employment_type %></p>
                        </div>
                      </div>
                      <div class="row"> <!--second row of card-->
                        <div class="col-md-6">
                          <p><strong>Location:</strong> <%= offer.address %></p>
                        </div>
                      </div>
                      <div style="text-align: center"> <!--links to likes and dislikes -->
                          <i class="fas fa-thumbs-up" style="color:green"></i>
                          Accurate
                          (<%= offer.get_upvotes.size %>)
                          
                        |
                          <i class="fas fa-thumbs-down" style="color:red"></i>
                          Inaccurate
                          (<%= offer.get_downvotes.size %>)
                
                      </div><!--close div for to likes and dislikes -->
                    </div><!--div close card body-->
                  </div> <!--div class="card border-secondary mb-3" id="reviewsIndexCard"-->
                    <br />       
                  <% end %>
              </div> <!--div for users each do -->
            </div><!--div for profile tab-->
          </div><!--div for myTabContent-->
        </div><!--div for col m12 line 37-->
      </div><!--div for row line 36-->
  </form>           
</div><!-- div class="container emp-profile"-->
<% end %>