<% content_for :title do %>
  My Profile | RelyApply
<% end %>

<% if user_signed_in? %>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6">
        <h4 style="color:white;"><%= @users.email %></h4>
      </div>
    </div>
    <% if current_user.provider =="facebook" %>
      <%= link_to 'Account Settings', edit_user_registration_path, :class => "btn btn-primary" %>
    <% elsif current_user.provider == "google_oauth2" %>
      <div class="col-md-6">  
        <%= link_to 'Account Settings', edit_user_registration_path, :class => "btn btn-primary" %>
      </div>
    <% else %>
      <div class="row">
        <div class="col-md-6">  
          <%= link_to 'Account Settings', edit_user_registration_path, :class => "btn btn-primary" %>
        </div>
      </div> 
    <% end %>
  </div><!--Line 6 -->
  <div class="container emp-profile">
    <form method="post">
      <h3>My Reviews</h3>
      <div class="row">
        <div class="col-md-12">
           <!--Navbar header: Applying and Interview-->
           <ul class="nav nav-tabs" id="navbarCompanyShow" role="tablist">
              <li class="nav-item">
                <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Post-Application</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Post-Interview</a>
              </li>
            </ul>
        </div><!--Line 30 -->
      </div><!--Line 29 -->
      <div class="row">
        <div class="col-md-12">
          <!-- Tab Content -->
          <div class="tab-content profile-tab" id="myTabContent">
            <!--Post application User Reviews -->
            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
              <br />
              <% if @users.reviews.includes(:company).count. == 0 %>
                <br/>
                <p style="color: grey">You currently have no application response time reviews</p>
              <% else %>
                <% @users.reviews.includes(:company).each do |review| %>
                  <!-- Links to edit or destory review -->
                  <div colspan="1" align="right">
                    <% if review.user == current_user %>
                      <%= link_to 'Edit', edit_review_path(review), class: "btn btn-sm btn-default"%>
                      <%= link_to 'Delete', review, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-sm btn-default" %>
                    <% end %><!-- Line 56 -->
                  </div>
                    <div class="card border-secondary mb-3" id="reviewsIndexCard">
                      <div class="card-header" id="reviewsIndexCardHeader" >
                        <h3>Company: <%= review.company.name %>      
                      </div>
                      <div class="card-body" id="userReviewCardBody">
                        <p style="color:grey !important" ><I>Review Submitted: <%= review.created_at.strftime("%B %d, %Y") %></I></p>
                        <h5><strong>Responsiveness</strong></h5>
                        <div class="row"><!--First row of card-->
                          <div class="col-md-6">
                            <p><strong>Response Time:</strong></p>
                          </div>
                          <div class="col-md-6">
                            <%= review.response_time %>
                          </div>
                        </div>
                        <br>
                        <div class="row"><!--first row of card-->
                          <div class="col-md-6" >
                            <p><strong>Were you satisfied with their level of responsiveness?</strong></p>
                          </div>
                          <div class="col-md-6" >
                            <%= review.responsiveness %>
                          </div>
                        </div>
                        <hr>
                        <h5><strong>Application Details</strong></h5>
                        <div class="row">
                          <div class="col-md-6">
                            <% if review.position.blank? %> 
                              <p><strong>Position:</strong> n/a </p>
                            <% else %>
                              <p><strong>Position:</strong> <%= review.position %> </p>
                            <% end %>
                          </div>
                          <div class="col-md-6">
                            <% if review.employment_type.blank? %> 
                              <p><strong>Employment Type:</strong> n/a</p>
                            <% else %>
                              <p><strong>Employment Type:</strong> <%= review.employment_type %></p>
                            <% end %>
                          </div>
                        </div>
                        <div class="row"> <!--econd row of card-->
                          <div class="col-md-6">
                            <% if review.application_type.blank? %> 
                             <p><strong>Application Type:</strong> n/a</p>
                            <% else %>
                              <p><strong>Application Type:</strong> <%= review.application_type%></p>
                            <% end %>
                          </div>
                        </div>
                        <div class="row"> <!--Second row of card-->
                          <div class="col-md-6">
                            <% if review.address.blank? %> 
                              <p><strong>Location:</strong> n/a</p>
                            <% else %>
                              <p><strong>Location:</strong> <%= review.address.chomp(', USA') %></p>
                            <% end %>                 
                          </div>
                        </div>
                        <hr>
                        <div style="text-align: center"> <!--Links to likes and dislikes -->
                          <%= review.get_upvotes.size %> thought this review was helpful
                        </div><!-- div for to likes and dislikes -->
                      </div><!--Line 65: div close card body-->
                    </div> <!-- Line 63: div class="card border-secondary mb-3" id="reviewsIndexCard"-->
                  <br />       
                <% end %><!-- Line 53 -->
              <% end %><!--Line 49: if @users.reviews.includes(:company).count. == 0 -->
            </div> <!-- Line 47: div for users each do -->
            <!-- Post Interview User Reviews --> 
            <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
              <% if @users.offers.includes(:company).count. == 0 %>
                <br/>
                <p style="color: grey">You currently have no post-interview reviews</p>
              <% else %>
                <% @users.offers.includes(:company).each do |offer| %>
                   <!-- links to edit or destory review -->
                  <div colspan="1" align="right">
                    <% if offer.user == current_user %>
                      <%= link_to 'Edit', edit_offer_path(offer), class: "btn btn-sm btn-default" %>
                      <%= link_to 'Delete', offer, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-sm btn-default" %>
                    <% end %>
                  </div>
                  <div class="card border-secondary mb-3" id="reviewsIndexCard">
                    <div class="card-header" id="reviewsIndexCardHeader">
                      <h3>Company: <%= offer.company.name %></h3>
                    </div>
                  <div class="card-body" id="userReviewCardBody">
                      <p style="color:grey !important" ><I>Review Submitted: <%= offer.created_at.strftime("%B %d, %Y") %></I></p>
                      <h5><strong>Responsiveness</strong></h5>
                      <div class="row"><!--first row of card-->
                        <div class="col-md-6">
                          <p><strong>Post-Interview Response Time:</strong></p>
                        </div>
                        <div class="col-md-6">
                          <%= offer.response_time %>
                        </div>
                      </div>
                      <br>
                      <div class="row">
                        <div class="col-md-6">
                         <p><strong>Were you satisfied with their level of responsiveness?</strong></p>
                        </div>
                        <div class="col-md-6">
                          <%= offer.responsiveness %>
                        </div>
                      </div>
                      <hr>
                      <h5><strong>Application Details</strong></h5>
                      <div class="row"> <!--second row of card-->
                        <div class="col-md-6">
                          <% if offer.position.blank? %> 
                            <p><strong>Position:</strong> n/a</p>
                          <% else %>
                            <p><strong>Position:</strong> <%= offer.position %></p>
                          <% end %>
                        </div>
                        <div class="col-md-6">
                          <% if offer.employment_type.blank? %> 
                            <p><strong>Employment Type:</strong> n/a </p>
                          <% else %>
                            <p><strong>Employment Type:</strong> <%= offer.employment_type %></p>
                          <% end %>
                        </div>
                      </div>
                      <div class="row"> <!--second row of card-->
                        <div class="col-md-6">
                          <% if offer.address.blank? %> 
                           <p><strong>Location:</strong> n/a</p>
                         <% else %>
                          <p><strong>Location:</strong> <%= offer.address.chomp(', USA') %></p>
                         <% end %>
                        </div>
                      </div>
                      <hr>
                      <h5><strong>Interview Details</strong></h5>
                      <div class="row">
                        <div class="col-md-6">
                          <p><strong>Did you have less experience than the job required?</strong></p>
                        </div>
                       <div class="col-md-6">
                         <% if offer.experience.blank? %> 
                           <p>n/a</p>
                         <% else %>
                           <p><%= offer.experience %></p>
                         <% end %>
                        </div>
                      </div>
                      <hr>
                      <div style="text-align: center"> <!--links to likes and dislikes -->
                        <%= offer.get_upvotes.size %> thought this review was helpful
                      </div><!--close div for to likes and dislikes -->
                    </div><!--Line 119: div close card body -->
                  </div> <!--Line 115: div class="card border-secondary mb-3" id="reviewsIndexCard" -->
                  <br />       
                <% end %><!--Line 108: users.offers.includes(company).each do -->
              <% end %><!--Line 104: users.offers.includes(company).each do -->
            </div><!--div for profile tab-->
          </div><!--Line 103: div for myTabContent: Post-Interview Reviews-->
        </div><!-- line 37: div for col m12  -->
      </div><!--Line 36: div for row line -->
    </form><!-- Line 27 -->          
  </div><!-- div class="container emp-profile"-->
<% end %><!-- Line 5 -->