<%= form_with(model: company, local: true) do |form| %>
  <% if company.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(company.errors.count, "error") %> prohibited this company from being saved:</h2>

      <ul>
      <% company.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group-lg"  id="formGroupFont">
    <%= form.label :name do%>
     Company Name
    <%end %>

    <%= form.text_field :name, class:"form-control" %>
  </div>

  <br />
  <div class="form-group-lg" id="formGroupFont">
    <%= form.label :website %><I> **Please <strong><u>COPY AND PASTE</u></strong> the company's website to avoid misspelling. Thank You.**</I>
     
    <%= form.text_field :website, placeholder: "Website Format: www.yourcompanyname.com", class: "form-control"%>
    
  </div>

  <br />

  <div class="alert alert-info">
    <p><strong>PLEASE DOUBLE CHECK IF ALL THE INFORMATION IS CORRECT BEFORE SUBMITTING!</strong></p>
  </div>
  <div class="actions">
    <%= form.submit "Submit", data: { confirm: "Is the information correct and in the right format?" }, class: "btn btn-lg btn-primary" %>
    <%= link_to 'Back', @company, class: "btn btn-lg btn-primary"  %>
  </div>
<% end %>
