<% content_for :title do %>
 Search | RelyApply
<% end %>

<div class="col-12">
  <%= form_tag(search_companies_path, method: :get, enforce_utf8: false) do %>
    <div class="input-group input-group-lg">
      <%= text_field_tag :search,  "",  placeholder: "Search Companies...", class: 'form-control input-lg', id: 'input-field-home', data: {behavior:"autocomplete", autocomplete_source: autocomplete_companies_path} %>
        <div class="input-group-append">
          <%=button_tag( :class => "btn btn-lg btn-default",  id: "navBarSearchButton") do %>
            <i class="fas fa-search"></i>
          <%end %>
        </div>
    </div>
  <% end %> 
</div><!--Line 5 -->
<p id="notice"><%= notice %></p>
<div class="container-fluid" id="searchContainer">
  <br />
  <h4 style="color:#333333">Results For "<%= @search %>"</h4>
  <div>
    <p style="color:#333333"><I>Can't Find It?</I> <%= link_to 'Submit a Company', new_company_path %> </P>
  </div>
  <div class="page_info" style="color: #333333; display:inline">
    <small><%= page_entries_info @companies%></small>
  </div>
  <% if @companies.size == 0 %>
  <% else %>
  <div class="container">
    <div class="float-right" style="color:#333333;" id="responsivenessOnMobile">
      <p class="float-right">Reponsiveness</p>
    </div>
  </div>
  <br />
  <hr id="searchItem">
  <% end %>
  <% @companies.each do |company| %>    
    <div>   
      <div class="card" id="cardSearchPage" style="border-width: 0px">
        <div style="background-color: white">
          <h2 class="card-text good-review-score float-right" id="searchScore">
            <% if company.reviews.size == 0 and company.offers.size == 0 %> 
            <span class="na-review-score-show" id="responseScoreShowPage">     
             N/A
            </span>  
            <br>
          <% elsif ((Float(company.reviews.where(responsiveness: "Yes").size)/(company.reviews.size) * 100) >= 60) and ((Float(company.offers.where(responsiveness: "Yes").size)/(company.offers.size) * 100) >= 60) and ((company.reviews.size == 3 or company.offers.size == 3) or (company.reviews.size + company.offers.size >=  3)) %>
            <span class="good-review-score-show" id="responseScoreShowPage" style="border-radius: 50% !important;">
              <i class="fas fa-thumbs-up" style="color:white"></i>
            </span>
          <% elsif ((Float(company.reviews.where(responsiveness: "Yes").size)/(company.reviews.size) * 100) < 60) and ((Float(company.offers.where(responsiveness: "Yes").size)/(company.offers.size) * 100) < 60) and ((company.reviews.size == 3 or company.offers.size == 3) or (company.reviews.size + company.offers.size >=  3)) %>
            <span class="bad-review-score-show" id="responseScoreShowPage" style="border-radius: 50% !important;">
              <i class="fas fa-thumbs-down"></i>
            </span>
          <% elsif ((Float(company.reviews.where(responsiveness: "Yes").size)/(company.reviews.size) * 100) >= 60) and ((Float(company.offers.where(responsiveness: "Yes").size)/(company.offers.size) * 100) < 60) and ((company.reviews.size == 3 or company.offers.size == 3) or (company.reviews.size + company.offers.size >=  3)) %>
            <span class="mixed-review-score-show" id="responseScoreShowPage">
              Mixed
            </span>
          <% elsif ((Float(company.reviews.where(responsiveness: "Yes").size)/(company.reviews.size) * 100) < 60) and ((Float(company.offers.where(responsiveness: "Yes").size)/(company.offers.size) * 100) >= 60) and ((company.reviews.size == 3 or company.offers.size == 3) or (company.reviews.size + company.offers.size >=  3)) %>
            <span class="mixed-review-score-show" id="responseScoreShowPage">
              Mixed
            </span>
          <% elsif ((Float(company.reviews.where(responsiveness: "Yes").size)/(company.reviews.size) * 100) < 60) and (company.offers.size == 0 and company.reviews.size == 3) %>
            <span class="bad-review-score-show" id="responseScoreShowPage" style="border-radius: 50% !important;">
              <i class="fas fa-thumbs-down"></i>
            </span>
          <% elsif ((Float(company.reviews.where(responsiveness: "Yes").size)/(company.reviews.size) * 100) > 60) and (company.offers.size == 0 and company.reviews.size == 3) %>
            <span class="good-review-score-show" id="responseScoreShowPage" style="border-radius: 50% !important;">
              <i class="fas fa-thumbs-up"></i>
            </span>
          <% elsif ((Float(company.offers.where(responsiveness: "Yes").size)/(company.offers.size) * 100) < 60) and (company.reviews.size == 0 and company.offers.size == 3) %>
            <span class="bad-review-score-show" id="responseScoreShowPage" style="border-radius: 50% !important;">
               <i class="fas fa-thumbs-down"></i>
            </span>
          <% elsif ((Float(company.offers.where(responsiveness: "Yes").size)/(company.offers.size) * 100) > 60) and (company.reviews.size == 0 and company.offers.size == 3) %>
            <span class="good-review-score-show" id="responseScoreShowPage" style="border-radius: 50% !important;" >
              <i class="fas fa-thumbs-up"></i>
            </span>
          <% else %>
            <span class="na-review-score-show" id="responseScoreShowPage">     
              N/A
            </span>  
          <% end %><!-- Line 42 -->     
          </h2> <!-- /h2 card-text -->   
          <!-- Mobile Score Version-->
          <h2 class="card-title" id="searchCardTitleCompany"><span><%= link_to company.name, company, data: { turbolinks: false }%></span></h2> 
          <% if company.verified == true %>  <!-- Verification Indicator --> 
            <p class="card-title" style="color:#333333" id="searchCardTitle">
              <strong>Verified</strong> <i class="fas fa-check" style="color:green"></i>
            </p>
          <% end %>
          <div id="mobileResponsivenessScore" style="display: none;">
            <% if company.reviews.size == 0 and company.offers.size == 0 %> <!--mobile-->
             <p class="mobile-na-review-score-show" style="border-radius: 10px !important;">
              Responsiveness: N/A
              </p>
            <% elsif ((Float(company.reviews.where(responsiveness: "Yes").size)/(company.reviews.size) * 100) >= 60) and ((Float(company.offers.where(responsiveness: "Yes").size)/(company.offers.size) * 100) >= 60) and ((company.reviews.size == 3 or company.offers.size == 3) or (company.reviews.size + company.offers.size >=  3)) %>
              <p class="mobile-good-review-score-show" style="color:white" id="searchCardTitle">
                Responsiveness: <i class="fas fa-thumbs-up" style="color:white"></i>
              </p>
            <% elsif ((Float(company.reviews.where(responsiveness: "Yes").size)/(company.reviews.size) * 100) < 60) and ((Float(company.offers.where(responsiveness: "Yes").size)/(company.offers.size) * 100) < 60) and ((company.reviews.size == 3 or company.offers.size == 3) or (company.reviews.size + company.offers.size >=  3)) %>
              <p class="mobile-bad-review-score-show" style="color:white" id="searchCardTitle">
                Responsiveness: <i class="fas fa-thumbs-down" style="color:white"></i>
              </p>
            <% elsif ((Float(company.reviews.where(responsiveness: "Yes").size)/(company.reviews.size) * 100) >= 60) and ((Float(company.offers.where(responsiveness: "Yes").size)/(company.offers.size) * 100) < 60) and ((company.reviews.size == 3 or company.offers.size == 3) or (company.reviews.size + company.offers.size >=  3)) %>
             <p class="mobile-mixed-review-score-show" style="color:white" id="searchCardTitle">
               Responsiveness: Mixed
              </p>
            <% elsif ((Float(company.reviews.where(responsiveness: "Yes").size)/(company.reviews.size) * 100) < 60) and ((Float(company.offers.where(responsiveness: "Yes").size)/(company.offers.size) * 100) >= 60) and ((company.reviews.size == 3 or company.offers.size == 3) or (company.reviews.size + company.offers.size >=  3)) %>
               <p class="mobile-mixed-review-score-show" style="color:white" id="searchCardTitle">
                Responsiveness: Mixed
              </p>
            <% elsif ((Float(company.reviews.where(responsiveness: "Yes").size)/(company.reviews.size) * 100) < 60) and (company.offers.size == 0 and company.reviews.size == 3) %>
             <p class="mobile-bad-review-score-show" style="color:white" id="searchCardTitle">
               Responsiveness: <i class="fas fa-thumbs-down" style="color:white"></i>
              </p>
            <% elsif ((Float(company.reviews.where(responsiveness: "Yes").size)/(company.reviews.size) * 100) > 60) and (company.offers.size == 0 and company.reviews.size == 3) %>
              <p class="mobile-good-review-score-show" style="color:white" id="searchCardTitle">
                Responsiveness: <i class="fas fa-thumbs-up" style="color:white"></i>
              </p>
            <% elsif ((Float(company.offers.where(responsiveness: "Yes").size)/(company.offers.size) * 100) < 60) and (company.reviews.size == 0 and company.offers.size == 3) %>
             <p class="mobile-bad-review-score-show" style="color:white" id="searchCardTitle">
               Responsiveness: <i class="fas fa-thumbs-down" style="color:white"></i>
              </p>
            <% elsif ((Float(company.offers.where(responsiveness: "Yes").size)/(company.offers.size) * 100) > 60) and (company.reviews.size == 0 and company.offers.size == 3) %>
              <p class="mobile-good-review-score-show" style="color:white" id="searchCardTitle">
               Responsiveness: <i class="fas fa-thumbs-up" style="color:white"></i>
              </p>
            <% else %>
                <p class="mobile-na-review-score-show" style="color:white" id="searchCardTitle" style="border-radius: 10px !important;">
               Responsiveness: N/A
              </p> 
            <% end %><!-- Line 42 -->     
           </div>
          <p class="card-title" style="color:white" id="searchCardTitle">
            <%= link_to company, data: { turbolinks: false }, :class => "btn btn-primary" do %>
              View Company <i class="fas fa-caret-right"></i> 
            <% end %>
          </p>
        </div><!-- /div with id =searchItem-->
      </div><!--Line 26 -->
      <span><hr id="searchItem"></span>
    </div><!--/div right after company each do --> 
  <% end %><!-- Line 24 --> 
  <br />

  <div class="pagination-wrapper" style="text-align: :center;">
    <div style="text-align: :center;">
      <%= will_paginate @companies, :container => false %>
    </div>
  </div>
</div><!-- Line 5 -->
<br>

<script>
  // executes when HTML-Document is loaded and DOM is ready
  $(document).ready(function() {
    console.log("document is ready");
      $( ".card" ).hover(
      function() {
        $(this).addClass('shadow-lg').css('cursor', 'pointer'); 
      }, function() {
        $(this).removeClass('shadow-lg');
      }
    );
  });
</script>










