<p id="notice"><%= notice %></p>

<h1>Companies</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Overall Response Rating</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @companies.each do |company| %>
      <tr>
        <td><%= company.name %></td>
        <td>
          <% if company.reviews.size == 0 %> 
              N/A
          <% else %>
              <%= number_to_percentage((Float(company.reviews.where(satisfaction: "Highly satisfied. My expectations were far surpassed.").size + company.reviews.where(satisfaction: "Average Satisfaction").size) /company.reviews.count * 100), precision: 0) %> Positive 
          <% end %>
        </td>
        <td><%= link_to 'Show', company %></td>
      </tr>
      
    <% end %>
      <tr>
      
      </tr>
  </tbody>
</table>

<br>

<%= link_to 'New Company', new_company_path %>

