<%#Company Profile Show Header %>
<div class="panel panel-default" id="panelCompanyShow">
  <div class="panel-heading" id="panelCompanyShowHeader">
    <h1><strong><%= @company.name %></strong></h1>
  </div>
  <div class="panel-body">
      <div class="pull-left">
       <h3>
         <strong>Website:</strong>
           <%= link_to @company.website, "http://#{@company.website}" %>
       </h3>
      </div>
      <div class="text-center">
        <h3><strong>Responsiveness Rating:</strong> 
          <% if @company.reviews.size == 0 %> 
            There are currently no reviews
          <% else %>
            <%= number_to_percentage((Float(@company.reviews.where(satisfaction: "Highly satisfied. My expectations were far surpassed.").size + @company.reviews.where(satisfaction: "Average Satisfaction").size) /@company.reviews.count * 100), precision: 0) %> <span class="glyphicon glyphicon-thumbs-up"></span></p> 
          <% end %>
        </h3> 
      </div>
  </div>
</div>

<!-- Nav tabs -->
<ul class="nav nav-tabs" role="tablist">
  <li role="presentation" class="active"><a href="#overall" aria-controls="home" role="tab" data-toggle="tab">Overall</a></li>
  <li role="presentation"><a href="#last60" aria-controls="profile" role="tab" data-toggle="tab">Last 2 Months</a></li>
  <li role="presentation"><a href="#review-form" aria-controls="review-form" role="tab" data-toggle="tab">Add a Review</a></li>
  <li role="presentation"><%= link_to 'Show Reviews', company_reviews_path(:company_id => @company.id)%></li>
</ul>

<!-- Tab panes -->
<div class="tab-content" id="statistics">
  <%# Overall Tab Pane %>
  <div role="tabpanel" class="tab-pane active" id="overall">
  
    <%# Review Section Part A: Review Size%>
    <h2>
      <% if @company.reviews.size == 0 %> 
        There are currently no reviews
      <% else %>
        <strong>Total Reviews: <%= @company.reviews.count %></strong>
      <% end %>
    </h2> 

    <%# Review Section Part B: Basic Statistics Section %>
    <div class="well" id="Summary">
      <h3><strong>Summary of Follow-up Response Times</strong></h3>
      <I>**Follow-ups include interview scheduling or rejections **</I>
      <h3><strong><%= @company.reviews.where(response_time: "1 week").size %> </strong> said around 1 week</h3>
      <h3><strong><%= @company.reviews.where(response_time: "2 weeks").size %></strong> said around 2 weeks</h3>
      <h3><strong><%= @company.reviews.where(response_time: "3 weeks").size %></strong> said around 3 weeks</h3>
      <h3><strong><%= @company.reviews.where(response_time: "Greater than 4 weeks").size %></strong> said around 4 weeks or greater</h3>
    </div>
    <hr>
  </div>

  <%# Last 2 Months Tab Pane %>
  <div role="tabpanel" class="tab-pane" id="last60">      
    <%# Last 2 Months Section Part B: Review Size%>
    <h2>
      <% if @company.reviews.size == 0 %> 
      There are currently no reviews
      <% else %>
      <strong>Reviews from Last 2 Months: <%= @company.reviews.count %></strong>
      <% end %>
    </h2> 
    <%# Last 2 Months Section Part B: Basic Statistics Section %>
    <div class="well" id="Summary">
      <h3><strong>Summary of Follow-up Response Times</strong></h3>
      <I>**Follow-ups include interview scheduling or rejections **</I>
      <h3><strong><%= @company.reviews.where(response_time: "1 week").size %> </strong> said around 1 week</h3>
      <h3><strong><%= @company.reviews.where(response_time: "2 weeks").size %></strong> said around 2 weeks</h3>
      <h3><strong><%= @company.reviews.where(response_time: "3 weeks").size %></strong> said around 3 weeks</h3>
      <h3><strong><%= @company.reviews.where(response_time: "Greater than 4 weeks").size %></strong> said around 4 weeks or greater</h3>
    </div>
    <hr>
  </div>

  <%# Add A Review Tab %>
  <div role="tabpanel" class="tab-pane" id="review-form">
     <%= render 'company_review_form', company: @company %>
  </div>

</div>
