<!DOCTYPE >
<html>
  <head>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=places"></script>
  </head>

<body >

<%# Area to show Company Name and Website %>
<h1>
  <strong>Name:</strong>
    <%= @company.name %>
</h1>

<h1>
 <strong>Website:</strong>
   <%= link_to @company.website, "http://#{@company.website}" %>
</h1>
   <%= link_to 'Edit', edit_company_path(@company) %> 

<%#= link_to "Make default", make_default_admin_state_path(state) 
<nav class="navbar nav nav-tabs">
  <div class="container-fluid">
    <ul class="nav navbar-nav" role="tablist">
      <li class= "active" role="presentation"><a data-toggle="tab" href="#overall">Overall</a></li>
      <li role="presentation"><%= link_to 'Reviews', company_reviews_path(:company_id => @company.id) </li>
      <li class= "active" role="presentation"><a data-toggle="tab" href="#submit_review">Submit A Review</a></li>
    </ul>
  </div>
</nav>
%>

  <%# Rating Section %>
  <h2><strong>Rating:</strong> <% if @company.reviews.size == 0 %> 
    There are currently no reviews
  <% else %>
    <%= number_to_percentage((Float(@company.reviews.where(satisfaction: "Highly satisfied. My expectations were far surpassed.").size + @company.reviews.where(satisfaction: "Average Satisfaction").size) /@company.reviews.count * 100), precision: 0) %> Positive from <%= @company.reviews.count %> review(s)
  <% end %></h2> 

  
  <hr>
  
  <%# Basic Statistics Section %>
  <h3><strong>Summary of Follow-up Response Times</strong></h3>

  <h3>Follow-ups include interview scheduling or rejections via phone or email.</h3>

  <h3><strong><%= @company.reviews.where(response_time: "1 week").size %> </strong> Reported an estimated response time of around 1 week</h3>

  <h3><strong><%= @company.reviews.where(response_time: "2 weeks").size %></strong> Reported an estimated response time of around 2 weeks</h3>

  <h3><strong><%= @company.reviews.where(response_time: "3 weeks").size %></strong> Reported an estimated response time of around 3 weeks</h3>

  <h3><strong><%= @company.reviews.where(response_time: "Greater than 4 weeks").size %></strong> Reported an estimated response time of greater than 4 weeks</h3>

  <hr>

   <%# Basic Statistics Section %>
  <h3><strong> Satisfaction for Follow-up Application Response Time</strong></h3>
 
  <h3>Follow-ups include interview scheduling or rejections via phone or email.</h3>
  
  <h3><strong><%= @company.reviews.where(satisfaction: "Highly satisfied. My expectations were far surpassed.").size %></strong> Exceeded expectations</h3>
  
  <h3> <strong><%= @company.reviews.where(satisfaction: "Average Satisfaction").size %> </strong>Acceptable expectations </h3>
  
  <h3><strong><%= @company.reviews.where(satisfaction: "Poor Satisfaction").size %></strong> Dissatisfied expectations</h3>

  
  <hr>

  <hr>
</div>
<%# Overall Tab Content %> 

  <% if user_signed_in? %> 
    <script type="text/javascript">
  function initialize() {

  var input = document.getElementById('location');
  var autocomplete = new google.maps.places.Autocomplete(input);
  }

  google.maps.event.addDomListener(window, 'load', initialize);
</script>

<script type="text/javascript">
  function initialize() {

  var input2 = document.getElementById('destaddress');
  var autocomplete2 = new google.maps.places.Autocomplete(input2);
  }

  google.maps.event.addDomListener(window, 'load', initialize);
</script>


    <%= simple_form_for [@company, Review.new] do |f| %>
      <h3><strong>Submit a Review</strong> </h3>
        <p>*REMINDER: IT TAKES 2-3 WEEKS ON AVERAGE TO HEAR BACK FROM A JOB APPLICATION.*</p>

        <div class="field">
          <%= f.label :response_time do%>
          Response Time for an Interview or Rejection:
          <%end %>
          <%= f.select(:response_time, options_for_select([["1 week","1 week"],["2 weeks","2 weeks"],["3 weeks","3 weeks"],["Greater than 4 weeks","Greater than 4 weeks"]], params[:response_time] ), class:"select") %> 
        </div> 

        <div class="field">
          <%= f.label :application_type do %>
          Estimated Wait Time<span class="required"></span>
          <% end %>
          <%= f.select(:application_type, options_for_select([["In Person","In Person"],["Online","Online"],["Referral","Referral"]], params[:application_type] ), class:"select")  %>
        </div>


        <div class="field">
          <%= f.label :satisfaction do %>
          Level of Satisfaction With the Time It Took for a Company to Get Back After Sending an Application (For an Interview or a Rejection)  <span class="required"></span>
          <% end %>
          <%= f.select(:satisfaction, options_for_select([["Highly satisfied. My expectations were far surpassed.","Highly satisfied. My expectations were far surpassed."],["Average Satisfaction","Average Satisfaction"],["Poor Satisfaction","Poor Satisfaction"]], params[:satisfaction] ), class:"select") %> 
        </div>

        <hr>
      Optional
        <div class="field">
          <%= f.label :position %>
          <%= f.text_field :position %>
        </div>

        <div class="field">
         <%= f.label :employment_type %>
         <%= f.select(:employment_type, options_for_select([["Full-Time","Full-Time"],["Part-Time","Part-Time"],["Intern","Intern"],["Temporary","Temporary"],["Contractor","Contractor"]], params[:employment_type] ), class:"select") %>
        </div>
       <div class="field">
          <%= f.label :location %>
          <%= f.input :location, :input_html =>{:id => 'location'}, :placeholder => 'Start typing a place name...'%>
        </div>

 <br>
      <%= f.submit %>
      <% end %>
 <% else %>
   <p> You need to <%= link_to "sign in", new_user_session_path %> or <%= link_to "sign up", new_user_registration_path %> to comment </p>
 <% end %>
</div>
</body>
</html>