<div class="container emp-profile"> 
<%= simple_form_for [@company, @offer] do |f| %>

  <% if offer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(offer.errors.count, "error") %> prohibited this review from being saved:</h2>

      <ul>
      <% offer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <h2>Post-Interview Response Time</h2>
      <hr id="reviewIndexHr">
  </div>
  <br />
   <div class="alert alert-info" role="alert">
      <u><strong>Reminder:</strong></u>
        <ul>
           <li><h6><strong><I>Response Time After Interviewing:</I> are the estimated time it takes to receive a job offer or rejection after interviewing</strong></h6></li>
        </ul>
  </div>
   <div class="row">
    <div class="col-md-6">
      <%= f.label :responsiveness do %>
        Did you feel that this company was responsive at all after applying?
      <%end %>
    </div>
    <div class="col-md-6">
      <%= f.collection_radio_buttons :responsiveness, [['Yes', 'Yes'] ,['No', 'No']],:first, :last,:item_wrapper_class => 'vertical', :id =>"radioButton" %>
    </div>
  </div> 
  <strong>*Companies that don't respond to reject or schedule an interview after applying within a month shouldn't be considered appropriately responsive</strong>
  <hr />
  <div class="row">
    <div class="col-md-6">
      <%= f.label :response_time do%>
        Response Time After Interviewing:
      <%end %>
    </div>
    <div class="col-md-6">
      <%= f.select :response_time, options_for_select([["Less than a week","Less than a week"],
              ["Between 1-2 weeks","Between 1-2 weeks"],
              ["Between 2-3 weeks","Between 2-3 weeks"],
              ["Between 3-4 weeks","Between 3-4 weeks"],
              ["Did not respond within a month","Did not respond within a month"]], :selected => @offer.response_time), class:"select"%> 
    </div>
  </div> 
  <div class="row">
    <div class="col-md-6">
      <%= f.label :satisfaction do %>
        Were you satisfied with this company's responsiveness:
      <% end %>
    </div>
    <div class="col-md-6">
      <%= f.collection_radio_buttons :satisfaction, [['Yes', 'Yes'] ,['No', 'No']],:first, :last,:item_wrapper_class => 'vertical2', :id =>"radioButton2" %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <%= f.label :position do %>
        Position:
      <% end %>
    </div>
    <div class="col-md-6">
      <%= f.text_field :position %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <%= f.label :employment_type do %>
        Employment Type:
      <% end %>
    </div>
    <div class="col-md-6">
      <%= f.select(:employment_type, options_for_select([["Full-Time","Full-Time"],["Part-Time","Part-Time"],["Intern","Intern"],["Temporary","Temporary"],["Contractor","Contractor"]],:selected => @offer.employment_type),:include_blank => true, class:"select") %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <%= f.label 'Address' %>
    </div>
    <div class="col-md-6">
      <%= f.text_field :address,  :size=>"40", placeholder: "Type address to autofill", id: :autocomplete_address %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <%= f.label 'Street' %>
    </div>
    <div class="col-md-6">
      <%= f.text_field :street_number, id: :street_number, readonly: true%>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <%= f.label 'Route' %>
    </div>
    <div class="col-md-6">
      <%= f.text_field :route, id: :route, readonly: true %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <%= f.label 'City' %>
    </div>
    <div class="col-md-6">
      <%= f.text_field :locality, id: :locality, readonly: true %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <%= f.label 'State' %>
    </div>
    <div class="col-md-6">
      <%= f.text_field :administrative_area_level_1, id: :administrative_area_level_1, readonly: true%>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <%= f.label 'Zip Code' %>
    </div>
    <div class="col-md-6">
      <%= f.number_field :postal_code, id: :postal_code,readonly: true %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <%= f.label 'Country' %>
    </div>
    <div class="col-md-6">
      <%= f.text_field :country, id: :country,readonly: true %>
    </div>
  </div>
  <br />
    <div align="center">
          <%= f.button :submit,'Create Review', :class => "btn btn-primary", data: { confirm: "Is the information you provided correct?" } %>
        </div>
  </div>
</div> 
      
  </div>      

  
<% end %>
</div>
