<div class="container emp-profile"> 
  <%= simple_form_for [@company, @offer] do |f| %>
    <% if offer.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(offer.errors.count, "error") %> prohibited this review from being saved:</h2>
        <ul>
        <% offer.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
    <div>
      <h2>Post-Interview Response Time</h2>
      <hr id="reviewIndexHr">
    </div>
    <br />
    <div class="alert alert-info" role="alert">
        <u><strong>Please Read Before Filling Out Your Review:</strong></u>
          <ul>
            <li>The information you put below are your opinions that are based on what you felt was a meaningful response after interviewing</li>
            <li>If you don't hear back within a reasonable time frame relative to the other reviews, it is highly suggested you do a follow-up or assume you didn't qualify for the job.</li>
          </ul>
    </div>
    <div class="row">
      <div class="col-md-6">
        <%= f.label :responsiveness do %>
          Did you feel that <%= @company.name %> was responsive enough after interviewing?
        <%end %>
      </div>
      <div class="col-md-6">
        <%= f.collection_radio_buttons :responsiveness, [['Yes', 'Yes'] ,['No', 'No']],:first, :last,:item_wrapper_class => 'vertical', :id =>"radioButton" %>
      </div>
    </div> 
    <hr />
    <div class="row">
      <div class="col-md-6">
        <%= f.label :response_time do%>
          Time it took to get what you felt was a meaningful response after interviewing?
        <%end %>
      </div>
      <div class="col-md-6">
        <%= f.select :response_time, options_for_select([["Around less than a week","Around less than a week"],
              ["Around 1-2 weeks","Around 1-2 weeks"],
              ["Around 2-3 weeks","Around 2-3 weeks"],
              ["Around 3-4 weeks","Around 3-4 weeks"],
              ["Not within a month","Not within a month"]]), :prompt => '--Select--', class:"select"%> 
      </div>
    </div> 
    <hr />
    <div class="row">
      <div class="col-md-6">
        <%= f.label :satisfaction do %>
          Were you satisfied with <%= @company.name %>'s responsiveness after interviewing:
        <% end %>
      </div>
      <div class="col-md-6">
        <%= f.collection_radio_buttons :satisfaction, [['Yes', 'Yes'] ,['No', 'No']],:first, :last,:item_wrapper_class => 'vertical2', :id =>"radioButton2" %>
      </div>
    </div>
    <hr />
    <h6><ul>Position Details</ul></h6>
    <div class="row">
      <div class="col-md-6">
        <%= f.label :position do %>
          Position:
        <% end %>
      </div>
      <div class="col-md-6">
        <%= f.text_field :position %>
      </div>
    </div>  
    <div class="row">
      <div class="col-md-6">
        <%= f.label :employment_type do %>
          Employment Type:
        <% end %>
      </div>
      <div class="col-md-6">
        <%= f.select(:employment_type, options_for_select([["Full-Time","Full-Time"], ["Part-Time","Part-Time"], ["Intern","Intern"], ["Temporary","Temporary"], ["Contractor","Contractor"]], :selected => @offer.employment_type), :prompt => '--Select--', class:"select") %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <%= f.label 'Address' do %>
        Location:
        <% end %>
      </div>
      <div class="col-md-6">
        <%= f.text_field :address, :size=>"40", placeholder: "Type address to autofill", id: :autocomplete_address %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <%= f.label 'Street' do %>
          Street:
        <% end %>
      </div>
      <div class="col-md-6">
        <%= f.text_field :street_number, id: :street_number, readonly: true %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <%= f.label 'Route' do %>
          Route: 
        <% end %>
      </div>
      <div class="col-md-6">
        <%= f.text_field :route, id: :route, readonly: true %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <%= f.label 'City' do %>
          City:
        <% end %>
      </div>
      <div class="col-md-6">
        <%= f.text_field :locality, id: :locality, readonly: true %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <%= f.label 'State' do %>
          State:
        <% end %>
      </div>
      <div class="col-md-6">
        <%= f.text_field :administrative_area_level_1, id: :administrative_area_level_1, readonly: true %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <%= f.label 'Zip Code' do %>
          Zip Code:
        <% end %>
      </div>
      <div class="col-md-6">
        <%= f.number_field :postal_code, id: :postal_code, readonly: true %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <%= f.label 'Country' do %>
          Country:
        <% end %>
      </div>
      <div class="col-md-6">
        <%= f.text_field :country, id: :country,readonly: true %>
      </div>
    </div>
    <br />
    <div align="center">
      <%= invisible_recaptcha_tags text: 'Submit',class: "btn btn-primary",  data: { confirm: "Is the information you provided correct?" } %>
    </div>
  <% end %>
</div>
