<% content_for :title do %>
  Post-Interview Response Time| RelyApply
<% end %>
<div class="container emp-profile">

    <div class="well" id="wellProfileForReviewIndex">
        <div id= "headerProfileForReviewIndex">  
          <h1><%=@company.name%>'s</strong> Post-Interview Response Times</h1>
        </div>
    </div><!-- div class="well" id="wellProfileForReviewIndex"-->

    <p>Want to add a review? Go back to <%= link_to @company.name, company_path(@company), method: :get%>'s profile and click "Submit Review"</p>


    <div class="text-left">
      <div class="alert alert-info" role="alert">
        <u><strong>Reminder:</strong></u>
        <ul>
          <li><p><I><strong>Post-Interview Response Times Refer to the estimated time it took for a company to contact you after an interview to give you an offer or reject you. </strong></I></p> </li>
          <li><p><I><strong>It takes 2-3 weeks on average to hear back from a job application. Even then, it can vary based on the industry, time of the year, etc.</strong></I></p></li>
          <li><p><I><strong>If you don't hear back within a reasonable time frame relative to the other reviews, it is highly suggested you do a follow-up or assume you didn't qualify for the job.</strong></I></p></li>
        </ul>
      </div>
    </div>

    <hr id="reviewIndexHr">

    <div class="container-fluid">
      <%= search_form_for @q, url: company_offers_path(params[:company_id]) do |f| %> 
        <div class="row">
            <h4 class="col"><strong>Filter & Search</strong></h4>
        </div>

        <div class="row">
           <div class="col-sm">
            <%= f.label :response_time_eq, "Response Time: " %>
            <%= f.select :response_time_eq, options_for_select([["Less than a week","Less than a week"],
              ["Between 1-2 weeks","Between 1-2 weeks"],
              ["Between 2-3 weeks","Between 2-3 weeks"],
              ["Between 3-4 weeks","Between 3-4 weeks"],
              ["Did not respond within a month","Did not respond within a month"]], @q.response_time_eq), prompt: '--Select--' %>
          </div>
          <div class="col-sm">
            <%= f.label :position, "Position:" %>
            <%= h f.search_field :position_cont, :placeholder => 'Search Position'%>
          </div>
        </div>

        <div class="row">
          <div class="col-sm">
            <%= f.label :responsiveness_eq, "Responsive? " %>
            <%= f.select :responsiveness_eq, options_for_select([
              ["Yes","Yes"],
              ["No","No"]
              ] , @q.responsiveness_eq), prompt: '--Select--'   %>
          </div>
          <div class="col-sm">
            <%= f.label :employment_type_eq, "Employment Type: " %>
            <%= f.select :employment_type_eq, options_for_select([
              ["Full-Time","Full-Time"],
              ["Part-Time","Part-Time"],
              ["Intern","Intern"],
              ["Temporary","Temporary"],
              ["Contractor","Contractor"]
              ] , @q.employment_type_eq), prompt: '--Select--'  %>
          </div>
        </div>

        <div class="row">
         <div class="col-sm">
            <%= f.label :satisfaction_eq, "Satisfied with Responsiveness? " %>
            <%= f.select :satisfaction_eq, options_for_select([
              ["Yes","Yes"],
              ["No","No"]
              ] , @q.satisfaction_eq), prompt: '--Select--'   %>
          </div>
          <div class="col-sm">
            <%= f.label :Location, "Location: " %>
            <%= h text_field_tag :search, params[:search], :placeholder => '[City, State] or Zip Code'%>
          </div>
        </div>
        <br />
        
        <div colspan="1" align="center">
          <%= f.submit :class => "btn btn-primary" %>  <a href="<%=company_offers_path%>" class="btn btn-primary" color="black">Clear filters</a>
        <div>
      <% end %>
    </div><!--div class="container-fluid"-->
  </div><!-- textleft -->

  <hr id="reviewIndexHr">

  <div>
  <h2><strong>Total offer-Interview Reviews: <%= @company.offers.size %></strong></h2>
   <div class="text-left">
      <%= sort_link(@q, :created_at, default_order: :asc) do %>
        <strong>Sort by Date</strong>
      <% end %>
    </div>  
  </div>


  <% @offers.each do |offer| %>
    <div class="card border-secondary mb-3" id="reviewsIndexCard">
        <div class="card-header" id="reviewsIndexCardHeader">
          <h3>
            Estimated offer-Interview Response Time: <%= offer.response_time %>
          </h3>
        </div>

        <div class="card-body" id="cardBodyText">
          <p style="color:grey" ><I>offer-Interview Review Submitted: <%= offer.created_at.strftime("%B %d, %Y") %></I></p>
          <h4><strong>Responsiveness:</strong></h4>
          <div class="row"><!--first row of card-->
            <div class="col-md-6">
              <p><strong>Did you feel this company was responsive?</strong> <%= offer.responsiveness %></p>
            </div>
            <div class="col-md-6">
              <p><strong>Were you satisifed with this company's responsiveness :</strong> <%= offer.satisfaction%></p>
            </div>
          </div>
          <hr>
          <h4><strong>Application Details:</strong></h4>

          <div class="row"><!--first row of card-->
            <div class="col-md-6">
              <p><strong>Position:</strong> <%= offer.position %></p>
            </div>
            <div class="col-md-6">
              <p><strong>Employment Type:</strong> <%= offer.employment_type %></p>
            </div>
          </div>
        
        <div class="row"><!--second row of card-->
          <div class="col-md-6">
            <p><strong>Location:</strong> <%= offer.address.chomp(', USA') %></p>
          </div>
        </div>

      <div class="vote-count bind-<%= offer.id %>" style="text-align: center"> <!--links to likes and dislikes -->
        <%= link_to like_offer_path(offer),:remote => true, method: :get, class: "vpos", id: "thumbs" do %>
            <i class="fas fa-thumbs-up" style="color:green"></i>
            <span class="vcount-<%= offer.id %>">Accurate(<%= offer.get_upvotes.size %>)</span>
        <% end %>
        |
        <%= link_to dislike_offer_path(offer),:remote => true, method: :get, class: "npos", id: "thumbs" do %>
            <i class="fas fa-thumbs-down" style="color:red"></i>
            <span class="ncount-<%= offer.id %>">Inaccurate(<%= offer.get_downvotes.size %>)</span>
        <% end %>
        </div><!--close div for to likes and dislikes -->
      </div><!--div close card body-->
    </div> <!--div class="card border-secondary mb-3" id="reviewsIndexCard"-->
    <br />
  <% end %>


</div><!--div class="container emp-profile"-->