<div class="container emp-profile"> 
  <%= simple_form_for [@company, @review] do |f| %>
    <% if review.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(review.errors.count, "error") %> prohibited this review from being saved:</h2>
        <ul>
          <% review.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div>
      <h1><%= @review.company.name %></h1>
      <hr id="reviewIndexHr">
    </div>
    <p><I>Please make sure you have read our guidelines before submitting changes</I></p>
    <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
    Guidelines
    </a>
    <div class="collapse" id="collapseExample">
      <div class="text-left">
        <div class="alert alert-info" role="alert">
          <ul>
            <ul>
            <li><h6>You are sharing your opinions based on what you felt was a proper follow-up after applying.</h6></li>
            <li><h6>Normally, if it's been over a month, the position you applied for may have been filled. However, some companies don't bother telling applicants.</h6></li>
            <li><h6>Companies usually get back within a couple of weeks on average. Depending on the industry, average meaningful response times can vary.</h6></li>
            <li><h6>We ask users to please be honest with their reviews.</h6></li>
            <li><h6>Sections marked with "*" are required.</h6></li>
            <li><h6>You can only submit one Application and one Interview review per company for every quarter of the year.</h6></li>
          </ul>
          </ul>
        </div><!--alert-alert-info-->
      </div>
    </div>
    <hr>
    <h6><strong>Responsiveness</strong></h6>
    <div class="row">
      <div class="col-md-6">
        <%= f.label :responsiveness do %>
          *Were you satisfied with their level of responsiveness and follow-up?
        <% end %>
      </div>
      <div class="col-md-6">
        <%= f.collection_radio_buttons :responsiveness, [['Yes', 'Yes'] ,['No', 'No']],:first, :last, :item_wrapper_class => 'vertical', :id =>"radioButton" %>
      </div>
    </div> 
    <div class="row">
      <div class="col-md-6">
        <%= f.label :response_time do %>
           *Amount of time to get what you felt was a meaningful response after applying: 
        <% end %>
      </div>
      <div class="col-md-6">
        <%= f.select :response_time, options_for_select(
                [["Less than a week","Less than a week"],
                ["Between 1-2 weeks","Between 1-2 weeks"],
                ["Between 2-3 weeks","Between 2-3 weeks"],
                ["Between 3-4 weeks","Between 3-4 weeks"],
                ["Did not respond within a month","Did not respond within a month"]], :selected => @review.response_time),prompt: '--Select--', class:"select" %> 
      </div>
    </div> 
    <hr>
    <h6><strong>Application Details</strong></h6>
    <div class="row">
      <div class="col-md-6">
        <%= f.label :application_type do %>
          Application Type:
        <% end %>
      </div>
      <div class="col-md-6">
        <%= f.select(:application_type, options_for_select([["In Person","In Person"],["Online","Online"],["Referral","Referral"]], :selected => @review.application_type),prompt: '--Select--', class:"select") %> 
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <%= f.label :position do %>
          Position:
        <% end %>
      </div>
      <div class="col-md-6">
        <%= f.text_field :position %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <%= f.label :employment_type do %>
          Employment Type:
        <% end %>
      </div>
      <div class="col-md-6">
        <%= f.select(:employment_type, options_for_select([["Full-Time","Full-Time"],["Part-Time","Part-Time"],["Intern","Intern"],["Temporary","Temporary"],["Contractor","Contractor"]],:selected => @review.employment_type),prompt: '--Select--', class:"select") %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <%= f.label :experience do %>
          What was your experience relative to the job requirement?
        <% end %>
      </div>
      <div class="col-md-6">
        <%= f.select(:experience, options_for_select([["Equal or Greater","Equal or Greater"], ["Little to no experience","Little to no experience"], ["Moderately less experience","Moderately less experience"]], :selected => @review.experience), :prompt => '--Select--', class:"select") %>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-12">
        <%= f.label 'Address' do %>
          <strong>Location</strong>
          <small><I>(Type in the field below to autocomplete the rest of the location information)</I></small>
        <% end %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12" >
        <%= f.text_field :address,  :size=>"30", placeholder: "Type address to autofill below...", id: :autocomplete_address2, class: "addressField" %>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-6">
        <%= f.label 'Street' %>
      </div>
      <div class="col-md-6">
        <%= f.text_field :street_number, id: :street_number, readonly: true %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <%= f.label 'Route' %>
      </div>
      <div class="col-md-6">
        <%= f.text_field :route, id: :route, readonly: true %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <%= f.label 'City' %>
      </div>
      <div class="col-md-6">
        <%= f.text_field :locality, id: :locality, readonly: true %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <%= f.label 'State' %>
      </div>
      <div class="col-md-6">
        <%= f.text_field :administrative_area_level_1, id: :administrative_area_level_1, readonly: true %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <%= f.label 'Zip Code' %>
      </div>
      <div class="col-md-6">
        <%= f.number_field :postal_code, id: :postal_code,readonly: true %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <%= f.label 'Country' %>
      </div>
      <div class="col-md-6">
        <%= f.text_field :country, id: :country,readonly: true %>
      </div>
    </div>
    <br />
    <div align="center">
      <%= f.button :submit,'Update Review', :class => "btn btn-primary", data: { confirm: "Is the information you provided correct?" } %>
    </div> 
  <% end %>
</div>      


