
 <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=places"></script>
 <script type="text/javascript">
  function initialize() {

  var input = document.getElementById('location');
  var autocomplete = new google.maps.places.Autocomplete(input);
  }

  google.maps.event.addDomListener(window, 'load', initialize);
</script>

<%= simple_form_for [@review] do |f| %>
  <% if review.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(review.errors.count, "error") %> prohibited this review from being saved:</h2>

      <ul>
      <% review.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

   <h3><strong>Submit a Review</strong> </h3>
      <p>*REMINDER: IT TAKES 2-3 WEEKS ON AVERAGE TO HEAR BACK FROM A JOB APPLICATION.*</p>

    <div class="field">
      <%= f.label :response_time do%>
      Response Time for an Interview or Rejection:
      <%end %>
      <%= f.select(:response_time, options_for_select([["1 week","1 week"],["2 weeks","2 weeks"],["3 weeks","3 weeks"],["Greater than 4 weeks","Greater than 4 weeks"]], params[:response_time] ), class:"select") %> 
    </div> 

    <div>
    <%= f.select(:satisfaction, options_for_select([["Highly satisfied. My expectations were far surpassed.","Highly satisfied. My expectations were far surpassed."],["Average Satisfaction","Average Satisfaction"],["Poor Satisfaction","Poor Satisfaction"]], params[:satisfaction] ), class:"select") %> 
    </div>

    <hr>
    <p>Optional</p>
    
    <div class="field">
      <%= f.label :position %>
      <%= f.text_field :position %>
    </div>

    <div class="field">
      <%= f.label :application_type %>
      <%= f.select(:application_type, options_for_select([["In Person","In Person"],["Online","Online"],["Referral","Referral"]], params[:application_type] ), class:"select") %> 
    </div>

    <div class="field">
      <%= f.label :employment_type %>
      <%= f.select(:employment_type, options_for_select([["Full-Time","Full-Time"],["Part-Time","Part-Time"],["Intern","Intern"],["Temporary","Temporary"],["Contractor","Contractor"]], params[:employment_type] ), class:"select") %>
     </div>
     
    <div class="field">
      <%= f.input :location, :input_html =>{:id => 'location'}%>
    </div>

    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>
