<%= div_for(review) do %>
 <div class="comments_wrapper clearfix">
  <div class="pull-left">
   <p class="lead">Position: <%= review.position %></p>
   <p class="lead">Employment Type:<%= review.employment_type %></p>
   <p class="lead">Application Type: <%= review.application_type %></p>
   <p class="lead">Response Time for an interview or rejection: <%= review.response_time %></p>
   <p class="lead">Response Time Satisfaction: <%= review.satisfaction %></p>
   <p class="lead">Location: <%= review.location %></p>
   <p><small>Submitted <strong><%= time_ago_in_words(review.created_at) %> ago</strong></small></p>
  </div>
 <%= link_to like_review_path(review), method: :put, class: "btn btn-default btn-sm" do %>
      <span class="glyphicon glyphicon-chevron-up"></span>
      Accurate
      <%= review.get_upvotes.size %>
      <% end %>
  <%= link_to dislike_review_path(review), method: :put, class: "btn btn-default btn-sm" do %>
      <span class="glyphicon glyphicon-chevron-up"></span>
      Inaccurate
      <%= review.get_downvotes.size %>
      <% end %>
 <div class="btn-group pull-right">
   <% if review.user == current_user %>
      <%= link_to 'Edit', review %> 
      <%= link_to 'Destroy', review, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-sm btn-default" %>
    <% end %>
 </div>
</div>
<% end %>