<% content_for :title do %>
 Reviews | RelyApply
<% end %>
<div class="container emp-profile">

    <div class="well" id="wellProfileForReviewIndex">
        <div id= "headerProfileForReviewIndex">  
          <h1><%= link_to @company.name, company_path(@company), method: :get %></strong> Application Response Times<strong></h1>
        </div>
    </div><!-- div class="well" id="wellProfileForReviewIndex"-->

    <p>Want to add a review? Go back to <%= link_to @company.name, company_path(@company), method: :get%>'s profile and click "Submit Review"</p>


  <div class="text-left">
    <div class="alert alert-info" role="alert">
      <u><strong>Reminder:</strong></u>
      <ul>
        <li><p><I><strong>Response Times are the estimated time it takes to hear back for scheduling an interview or rejection</strong></I></p> </li>
        <li><p><I><strong>It takes 2-3 weeks on average to hear back from a job application. Even then, it can vary based on the industry, time of the year, etc.</strong></I></p></li>
        <li><p><I><strong>If you don't hear back within a reasonable time frame relative to the other reviews, it is highly suggested you do a follow-up or assume you didn't qualify for the job.</strong></I></p></li>
      </ul>
    </div><!--alert-alert-info-->
  </div>

  <hr id="reviewIndexHr">

  <div class="container-fluid">
    
      <%= search_form_for @q, url: company_reviews_path(params[:company_id]) do |f| %> 
        <div class="row">
          <h4 class="col"><strong>Filter & Search</strong></h4>
        </div>
        <div class="row">
           <div class="col-sm">
            <%= f.label :response_time_eq, "Response Time: " %>
            <%= f.select :response_time_eq, options_for_select([
              ["1 week","1 week"],
              ["2 weeks","2 weeks"],
              ["3 weeks","3 weeks"],
              ["Greater than 4 weeks","Greater than 4 weeks"]
              ] , @q.response_time_eq), prompt: '--Select--' %>
          </div>
          <div class="col-sm">
            <%= f.label :position, "Position:" %>
            <%= h f.search_field :position_cont, :placeholder => 'Search Position'%>
          </div>
        </div>

        <div class="row">
          <div class="col-sm">
            <%= f.label :satisfaction_eq, "Satisfaction:" %>
            <%= f.select :satisfaction_eq, options_for_select([
              ["Positive","Positive"],
              ["Negative","Negative"]
              ] , @q.satisfaction_eq), prompt: '--Select--'   %>
          </div>
          <div class="col-sm">
            <%= f.label :employment_type_eq, "Employment Type: " %>
            <%= f.select :employment_type_eq, options_for_select([
              ["Full-Time","Full-Time"],
              ["Part-Time","Part-Time"],
              ["Intern","Intern"],
              ["Temporary","Temporary"],
              ["Contractor","Contractor"]
              ] , @q.employment_type_eq), prompt: '--Select--'  %>
          </div>
        </div>

        <div class="row">
          <div class="col-sm">
           <%= f.label :application_type_eq, "Application Type: " %>
           <%= f.select :application_type_eq, options_for_select([
              ["Online","Online"],
              ["In-person","In-person"],
              ["Referral","Referral"]
              ] , @q.employment_type_eq), prompt: '--Select--'  %>
          </div>
          <div class="col-sm">
            <%= f.label :Location, "Location: " %>
            <%= h text_field_tag :search, params[:search], :placeholder => '[City, State] or Zip Code'%>
          </div>
        </div>
        <br />
        
        <div colspan="1" align="center">
          <%= f.submit :class => "btn btn-primary" %>  <a href="<%=company_reviews_path%>" class="btn btn-primary" color="black">Clear filters</a>
        <div>
      <% end %>
    </div> <!--div class="container-fluid"-->
  </div><!--textleft -->

  <hr id="reviewIndexHr">

  <div>
    <h2><strong>Total Reviews: <%= @company.reviews.size %></strong></h2>
     <div class="text-right">
        <%= sort_link(@q, :created_at, default_order: :asc) do %>
          <strong>Sort by Date</strong>
        <% end %>
      </div>  
  </div>

    <% @reviews.each do |review| %>
      <div class="card border-secondary mb-3" id="reviewsIndexCard">
        <div class="card-header" id="reviewsIndexCardHeader">
          <h3>Estimated Response Time: <%= review.response_time %></h3>
        </div>
        <div class="card-body">
          <p style="color:grey" ><I>Review Submitted: <%= review.created_at.strftime("%B %d, %Y") %></I></p>
          <h4><strong><u>Application Details</u></strong></h4>

          <div class="row"><!--first row of card-->
            <div class="col-md-6">
              <p><strong>Position:</strong> <%= review.position %></p>
            </div>
            <div class="col-md-6">
              <p><strong>Employment Type:</strong><%= review.employment_type %></p>
            </div>
          </div>

          <div class="row"> <!--second row of card-->
            <div class="col-md-6">
              <p><strong>Application Type:</strong> <%= review.application_type%></p>
            </div>
            <div class="col-md-6">
              <p><strong>Response Time Satisfaction:</strong> <%= review.satisfaction %></p>
            </div>
          </div>
          <div class="row"> <!--second row of card-->
            <div class="col-md-6">
              <p><strong>Location:</strong> <%= review.address.chomp(', USA') %></p>
            </div>
          </div>
          <div style="text-align: center"> <!--links to likes and dislikes -->
            <%= link_to like_review_path(review), method: :put, class: "btn btn-default btn-sm" do %>
              <i class="fas fa-thumbs-up" style="color:green"></i>
              Accurate
              (<%= review.get_upvotes.size %>)
            <% end %>
            <%= link_to dislike_review_path(review), method: :put, class: "btn btn-default btn-sm" do %>
              <i class="fas fa-thumbs-down" style="color:red"></i>
              Inaccurate
              (<%= review.get_downvotes.size %>)
            <% end %>
          </div><!--close div for to likes and dislikes -->
        </div><!--div close card body-->
      </div> 
      <br />       
    <% end %>
   

</div><!--div class="container emp-profile"-->