<hr>

<div>
  <h2><strong>Total Reviews for <%= @company.name %>: <%= @company.reviews.size %></strong></h2>
  <p><I>*REMINDER: IT TAKES 2-3 WEEKS ON AVERAGE TO HEAR BACK FROM A JOB APPLICATION.*</I></p>
</div>

<hr>
<%= div_for(@company.reviews) do |review| %>
 <div class="comments_wrapper clearfix">
  <div class="pull-left">
   <p class="lead">Position: <%= review.position %></p>
   <p class="lead">Employment Type:<%= review.employment_type %></p>
   <p class="lead">Application Type: <%= review.application_type %></p>
   <p class="lead">Response Time for an interview or rejection: <%= review.response_time %></p>
   <p class="lead">Response Time Satisfaction: <%= review.satisfaction %></p>
   <p class="lead">Location: <%= review.location %></p>
   <p><small>Submitted <strong><%= time_ago_in_words(review.created_at) %> ago</strong></small></p>
  </div>

  <div>
    <%= link_to like_review_path(review), method: :put, class: "btn btn-default btn-sm" do %>
      <span class="glyphicon glyphicon-chevron-up"></span>
      Accurate
      <%= review.get_upvotes.size %>
      <% end %>
    
    <%= link_to dislike_review_path(review), method: :put, class: "btn btn-default btn-sm" do %>
      <span class="glyphicon glyphicon-chevron-down"></span>
      Inaccurate
      <%= review.get_downvotes.size %>
      <% end %>
  </div>
 </div>
 
<% end %>