<p id="notice"><%= notice %></p>

<h3> <I><u>Review You Want to Edit</u></I></h3>

<p><strong>Company:</strong> <%= @review.company.name %></p>

<p>
  <strong>Response Time for an interview or rejection:</strong>
  <%= @review.response_time %>
</p>

<p>
  <strong>Response Time Satisfaction:</strong>
  <%= @review.satisfaction %>
</p>
<p><I>**Optional**</I></p>

<p>
  <strong>Position:</strong>
  <%= @review.position %>
</p>

<p>
  <strong>Employment type:</strong>
  <%= @review.employment_type %>
</p>

<p>
  <strong>Application Type:</strong>
  <%= @review.application_type %>
</p>

<p>
  <strong>Location:</strong>
  <%= @review.address %>
</p>

<%= link_to 'Edit', edit_review_path(@review), data: { turbolinks: false } %> 


