<!DOCTYPE html>
<html>
  <head>
    <title>Rely-Apply</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?libraries=places&key=#{ENV['GOOGLE_API_BROWSER_KEY']}" %>
  </head>
 
 <body>
 <header class="navbar navbar-default" role="navigation" id="navbar">
    <%= render "shared/nav_menu" %>
  </header>
<div id="main_content" class="container" data-trigger="focus">
    <% flash.each do |name, msg| %>
      <%= content_tag(:div, msg, class: "alert alert-info") %>

    <% end %>
  </a>
<div id="content" class="col-md-9 center-block">
        <%= yield %>
        <%= javascript_include_tag 'application' %>
      </div>
    </div>
  </div>
</body>
</html>














































