<!DOCTYPE html>
<html>
  <head>
     <title><%= yield :title %></title>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">

    <%= favicon_link_tag 'favicon/favicon.ico' %>
    
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?libraries=places&key=#{ENV['GOOGLE_API_BROWSER_KEY']}" %>
    <%= javascript_include_tag "https://www.gstatic.com/charts/loader.js" %>

    
  </head>
 
 <body>

   <header class="navbar navbar-default" role="navigation" id="navbar">
      <%= render "shared/nav_menu" %>
    </header>

 

  <div class="container" data-trigger="focus">
      <% flash.each do |name, msg| %>
       <div id="flash">
        <%= content_tag(:div, class: "alert alert-info", id:"flash-Messages" ) do %>
        <%=msg%>
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <% end %>
      <% end %>
      </div>
      <div  id="main_content" class="container" data-trigger="focus">

        <%= yield %>
        <%= javascript_include_tag 'application'%>
      </div>
  </div>
 </body>
</html>














































